<p id="notice"><%= notice %></p>

<h1>Dones</h1>

<% @dones.each do |date, dones| %>
  <span title="<%= show_distances_of_time(date) %>">
    <h1><%= link_to "#{date} - #{date.strftime('%A')}", day_edit_path(date) %></h1>
  </span>
  <% dones.each do |done| %>
    <div><b><%= done.text %></b></div>
  <% end %>
<% end %>
