// Place all the styles related to the Dones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_done textarea {
  width: 60%;
  height: 10em;
  font-size: larger;
}

form.edit_done input {
  width: 25em;
}
