<!DOCTYPE html>
<html>
  <head>
    <title>IDidIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="search-bar">
      <%= text_field_tag :q, params[:q], placeholder: 'search...' %>
    </div>
    <%= yield %>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelector('#q').addEventListener('keydown', function(e) {
        const { keyCode, shiftKey, target } = e,
              enterKey = (keyCode == 13),
              shiftFwdSlash = (shiftKey && keyCode == 191),
              tKey = (keyCode == 84);

        if (enterKey) {
          window.location.href = "/?q=" + encodeURIComponent(target.value);
        }

        if (shiftFwdSlash || tKey) {
          e.stopPropagation();
        }
      })
    })
  </script>
</html>
